@import "null.scss";

body {
    min-height: 100%;
    overflow: hidden;
    padding: 0px;
    max-width: 1920px;
    margin: 0 auto;
}
.first-example {
    .first-example__first-object {
        width: 70px;
        height: 70px;
        background-color: chocolate;
        border: 1px solid black;
        border-radius: 25%;
        transform: translate(200px, 200px);
        animation: movement-first 5s ease-in 0s normal infinite none;
    }
    .first-example__second-object {
        width: 70px;
        height: 70px;
        background-color: brown;
        border: 1px solid black;
        border-radius: 50%;
        transform: translate(600px, 130px);
        animation: movement-second 5s ease-in 0s normal infinite none;
    }
    .first-example__third-object {
        width: 70px;
        height: 70px;
        background-color: burlywood;
        border-radius: 25%;
        border: 1px solid black;
        transform: translate(600px, 460px);
        animation: movement-third 5s ease-in 0s normal infinite none;
    }
    .first-example__fourth-object {
        width: 70px;
        height: 70px;
        background-color: coral;
        border-radius: 50%;
        border: 1px solid black;
        transform: translate(200px, 390px);
        animation: movement-fourth 5s ease-in 0s normal infinite none;
    }
    .first-example__fifth-object {
        width: 200px;
        height: 200px;
        background-color: skyblue;
        border: 1px solid black;
        transform: translate(330px, 60px);
        animation: turn 5s linear 0s infinite none;
        &:active {
            display: block;
            background-color: white;
        }
        &:hover {
            display: block;
            animation: reversal 3s linear 0s infinite none;
            border: 1px solid black;
            cursor: pointer;
        }
    }
}
@keyframes movement-first {
    0% {
        transform: translate(200px, 200px);
    }
    25% {
        transform: translate(600px, 200px) rotate(45deg);
        background-color: cadetblue;
        border-radius: 50%;
    }
    50% {
        transform: translate(600px, 600px) rotate(90deg);
        background-color: coral;
        border-radius: 25%;
    }
    75% {
        transform: translate(200px, 600px) rotate(135deg);
        background-color: royalblue;
        border-radius: 50%;
    }
    100% {
        transform: translate(200px, 200px) rotate(180deg);
        background-color: darkkhaki;
        border-radius: 25%;
    }
}
@keyframes movement-second {
    0% {
        transform: translate(600px, 130px);
        background-color: darkblue;
    }
    25% {
        transform: translate(600px, 530px) rotate(45deg);
        background-color: cornflowerblue;
        border-radius: 25%;
    }
    50% {
        transform: translate(200px, 530px) rotate(90deg);
        background-color: teal;
        border-radius: 50%;
    }
    75% {
        transform: translate(200px, 130px) rotate(135deg);
        background-color: aquamarine;
        border-radius: 25%;
    }
    100% {
        transform: translate(600px, 130px) rotate(180deg);
        border-radius: 50%; //может это и не нужно
    }
}
@keyframes movement-third {
    0% {
        transform: translate(600px, 460px);
    }
    25% {
        transform: translate(200px, 460px) rotate(45deg);
        border-radius: 50%;
        background-color: cornflowerblue;
    }
    50% {
        transform: translate(200px, 60px) rotate(90deg);
        border-radius: 25%;
        background-color: salmon;
    }
    75% {
        transform: translate(600px, 60px) rotate(135deg);
        border-radius: 50%;
        background-color: darkviolet;
    }
    100% {
        transform: translate(600px, 460px) rotate(180deg);
        border-radius: 25%;
    }
}
@keyframes movement-fourth {
    0% {
        transform: translate(200px, 390px);
    }
    25% {
        transform: translate(200px, -10px) rotate(45deg);
        border-radius: 25%;
    }
    50% {
        transform: translate(600px, -10px) rotate(90deg);
        border-radius: 50%;
    }
    75% {
        transform: translate(600px, 390px) rotate(135deg);
        border-radius: 25%;
    }
    100% {
        transform: translate(200px, 390px) rotate(180deg);
        border-radius: 50%;
    }
}
@keyframes turn {
    from {
        transform: translate(330px, 60px);
    }
    to {
        transform: translate(330px, 60px) rotate(360deg);
    }
}
@keyframes reversal {
    from {
        transform: translate(330px, 60px) rotate(360deg);
    }
    to {
        background-color: brown;
        transform: translate(330px, 60px) rotate(-360deg) scale(-1);
    }
}
